# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log